@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.centerr{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgr {

    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.bodys
{
background: lightblue;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.containerr{
    position: relative;
    width: 100%;
    max-width: 100px;
    min-height: 100px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0,0 ,0,0.1);
    
}
.left_Side
{
    position: relative;
    background: #003147;
    padding: 40px;
}
.right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255,0.2);

}
.profileText h2{
    color: #fff;
    font-size: 5mm;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4mm;

}